#*
*  Copyright 2017 Curity AB
*
*  Licensed under the Apache License, Version 2.0 (the "License");
*  you may not use this file except in compliance with the License.
*  You may obtain a copy of the License at
*
*      http://www.apache.org/licenses/LICENSE-2.0
*
*  Unless required by applicable law or agreed to in writing, software
*  distributed under the License is distributed on an "AS IS" BASIS,
*  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
*  See the License for the specific language governing permissions and
*  limitations under the License.
*#

#*
 * This view is shown to the user when they click the HTML authenticator's create account button.
 *
 * For a full list of variables available in this template and their associated values, do the following:
 *
 * 1. Create a file called globals.vm in <installation-dir>/usr/share/templates/overrides/fragments
 *
 * 2. Add the following to this new file:
 *
 * <!--
 *    All variables:
 *    #foreach ($entry in $_context.entrySet())
 *        $entry.key => $!entry.value
 *    #end
 * -->
 *
 * 3. Request this template again and view the HTML source code. All variables and their values will be shown in an
 *    HTML comment at the top of the file.
 *
 * For more information about using the Velocity templating language, refer to
 * http://velocity.apache.org/engine/devel/user-guide.html.
 *#

#define($_leftColumn)
<div class="login-info login-info-mobile-hide p4">
    <h2 class="mt1"><i class="icon ion-person-add inlineicon login-info-icon"></i>#message(
        "${_templatePrefix}.view.create-account")</h2>
    <h2 class="h3">#message("authenticator.username-password-authenticator.create-account.view.fill-form")</h2>
    <p>#message("authenticator.username-password-authenticator.create-account.view.description")</p>
    <div class="well well-border">
        <p><i class="icon ion-information-circled inlineicon"></i> #message(
            "authenticator.username-password-authenticator.create-account.view.info-message")</p>
    </div>
</div>
#end

#define($_rightColumn)

<form method="post" class="login-form">

    <div class="clearfix mxn1">
        <div class="sm-col sm-col-12 px1">
            <div class="self-service-profile-image self-service-profile-image-empty py2 clearfix">
                <div class="sm-col sm-col-3">
                    <img src="/assets/images/emptyprofile.svg" alt="profile image">
                </div>
            </div>
        </div>

        <div class="sm-col sm-col-12 px1">
            <label for="name.givenName">#message(
                "authenticator.username-password-authenticator.create-account.view.firstName")</label>
            <input type="text" name="name.givenName" id="name.givenName" value="$!{_postBack["name.givenName"]}"
                   class="block full-width mb1 field-light" autofocus>
        </div>

        <div class="sm-col sm-col-12 px1">
            <label for="name.familyName">#message(
                "authenticator.username-password-authenticator.create-account.view.lastName")</label>
            <input type="text" name="name.familyName" id="name.familyName" value="$!{_postBack["name.familyName"]}"
                   class="block full-width mb1 field-light">
        </div>

#if ($_showEmailField)
        <div class="sm-col sm-col-12 px1">
            <label for="primaryEmail">#message("authenticator.username-password-authenticator.create-account.view.email")</label>
            <input type="email" name="primaryEmail" id="primaryEmail" value="$!{_postBack["primaryEmail"]}"
                   class="block full-width mb1 field-light">
        </div>
#end

        <div class="sm-col sm-col-12 px1">
            <label for="primaryPhoneNumber">#message(
                "authenticator.username-password-authenticator.create-account.view.phone")</label>
            <input type="text" name="primaryPhoneNumber" id="primaryPhoneNumber"
                   value="$!{_postBack["primaryPhoneNumber"]}" class="block full-width mb1 field-light">
        </div>
    </div>

    <label for="userName">#message("authenticator.username-password-authenticator.create-account.view.username")</label>
    <input type="text" name="userName" id="userName" value="$!{_postBack["userName"]}"
           class="block full-width mb1 field-light" autocapitalize="none">

    #if ($_showPasswordFields == true)
        <div class="form-password-reveal-form password-group">
            <label for="password">#message("authenticator.username-password-authenticator.create-account.view.password")</label>
            <input class="block full-width mb1 field-light" type="password" name="password">
            <i class="form-password-reveal-form-icon"></i>
            <div class="progress progress-thin">
                <div class="progress-warning" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;"></div>
            </div>
        </div>

        #*
        <label for="password2">#message("authenticator.username-password-authenticator.create-account.view.repeatPassword")</label>
        <input type="password" name="password2" id="password2" class="block full-width mb1 field-light">
        *#
    #end

    <div class="login-links mt3 clearfix">
        <div class="login-links-forgot sm-col md-col-12">
            <label class="block full-width mb2">
                <input type="checkbox" name="agreeToTerms" id="agreeToTerms">
                #message("authenticator.username-password-authenticator.create-account.view.terms")
            </label>
        </div>
    </div>

    <button type="submit" class="button button-fullwidth button-primary mt2">
        #message("authenticator.username-password-authenticator.create-account.view.button")
    </button>
</form>
#end

#parse("layouts/wide")
