#*
 * Copyright (C) 2022 Curity AB. All rights reserved.
 *
 * The contents of this file are the property of Curity AB.
 * You may not copy or use this file, in either source code
 * or executable form, except in compliance with terms
 * set by Curity AB.
 *
 * For further information, please contact Curity AB.
 *#

#*
 * This view is shown to the user when they click the HTML authenticator's create account button.
 *
 * For a full list of variables available in this template and their associated values, do the following:
 *
 * 1. Create a file called globals.vm in <installation-dir>/usr/share/templates/overrides/fragments
 *
 * 2. Add the following to this new file:
 *
 * <!--
 *    All variables:
 *    #foreach ($entry in $_context.entrySet())
 *        $entry.key => $!entry.value
 *    #end
 * -->
 *
 * 3. Request this template again and view the HTML source code. All variables and their values will be shown in an
 *    HTML comment at the top of the file.
 *
 * For more information about using the Velocity templating language, refer to
 * http://velocity.apache.org/engine/devel/user-guide.html.
 *#

#define($_body)
<form method="post" class="login-form">
<div class="center">
    <h1 class="mt1">#message("${_templatePrefix}.view.create-account")</h1>
    <p>#message("authenticator.username-password-authenticator.create-account.view.description")</p>
</div>


        <div class="form-field">
            <label for="name.givenName">#message(
                "authenticator.username-password-authenticator.create-account.view.firstName")</label>
            <input type="text" name="name.givenName" id="name.givenName" autocorrect="off" spellcheck="false" value="$!{_postBack["name.givenName"]}"
                   class="block full-width mb1 field-light" autofocus>
                    <i class="form-field-icon icon ion-ios-person"></i>
        </div>

        <div class="form-field">
            <label for="name.familyName">#message(
                "authenticator.username-password-authenticator.create-account.view.lastName")</label>
            <input type="text" name="name.familyName" id="name.familyName" autocorrect="off" spellcheck="false" value="$!{_postBack["name.familyName"]}"
                   class="block full-width mb1 field-light">
                <i class="form-field-icon icon ion-ios-person"></i>
        </div>

    #if ($_showEmailField)
        <div class="form-field">
            <label for="primaryEmail">#message("authenticator.username-password-authenticator.create-account.view.email")</label>
            <input type="email" name="primaryEmail" id="primaryEmail" value="$!{_postBack["primaryEmail"]}"
                   class="block full-width mb1 field-light">
                <i class="form-field-icon icon ion-email"></i>
        </div>
    #end
        <div class="form-field">
            <label for="primaryPhoneNumber">#message(
                "authenticator.username-password-authenticator.create-account.view.phone")</label>
            <input type="text" name="primaryPhoneNumber" id="primaryPhoneNumber"
                value="$!{_postBack["primaryPhoneNumber"]}" class="block full-width mb1 field-light">
            <i class="form-field-icon icon ion-iphone"></i>
        </div>


    <div class="form-field">
        <label for="userName">#message("authenticator.username-password-authenticator.create-account.view.username")</label>
        <input type="text" name="userName" id="userName" value="$!{_postBack["userName"]}"
           class="block full-width mb1 field-light" autocapitalize="none">
            <i class="form-field-icon icon ion-ios-person"></i>
    </div>

    #if ($_showPasswordFields == true)
        <div class="form-password-reveal-form password-group">
            <label for="password">#message("authenticator.username-password-authenticator.create-account.view.password")</label>
            <input class="block full-width mb1 field-light" type="password" name="password">
            <i class="form-password-reveal-form-icon"></i>
            <div class="progress progress-thin">
                <div class="progress-warning" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;"></div>
            </div>
        </div>

        #*
        <label for="password2">#message("authenticator.username-password-authenticator.create-account.view.repeatPassword")</label>
        <input type="password" name="password2" id="password2" class="block full-width mb1 field-light">
        *#
    #end

    <div class="login-links mt3 clearfix">
        <div class="login-links-forgot sm-col md-col-12">
            <label class="block full-width mb2">
                <input type="checkbox" name="agreeToTerms" id="agreeToTerms">
                #message("authenticator.username-password-authenticator.create-account.view.terms")
            </label>
        </div>
    </div>

    <button type="submit" class="button button-fullwidth button-primary">
        #message("authenticator.username-password-authenticator.create-account.view.button")
    </button>


</form>

#end

#parse("layouts/default")
