#*
*  Copyright 2017 Curity AB
*
*  Licensed under the Apache License, Version 2.0 (the "License");
*  you may not use this file except in compliance with the License.
*  You may obtain a copy of the License at
*
*      http://www.apache.org/licenses/LICENSE-2.0
*
*  Unless required by applicable law or agreed to in writing, software
*  distributed under the License is distributed on an "AS IS" BASIS,
*  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
*  See the License for the specific language governing permissions and
*  limitations under the License.
*#

#*
 * This is the default authentication view that collects the username and password from the user.
 *
 * For a full list of variables available in this template and their associated values, do the following:
 *
 * 1. Create a file called globals.vm in <installation-dir>/usr/share/templates/overrides/fragments
 *
 * 2. Add the following to this new file:
 *
 * <!--
 *    All variables:
 *    #foreach ($entry in $_context.entrySet())
 *        $entry.key => $!entry.value
 *    #end
 * -->
 *
 * 3. Request this template again and view the HTML source code. All variables and their values will be shown in an
 *    HTML comment at the top of the file.
 *
 * For more information about using the Velocity templating language, refer to
 * http://velocity.apache.org/engine/devel/user-guide.html.
 *#

#if($_postBack && $_postBack["userName"])
    #set($userNameValue = $_postBack["userName"])
#elseif($_username)
    #set($userNameValue = $_username)
#end

#define ($_body)
#parse("fragments/credential-operation-details")
<h2>#message("authenticator.username-password-authenticator.authenticate.view.top-header")</h2>
<form method="post" action="$_authUrl">

    #if ($_errors)
        #set($_errorClass = "is-error is-error-danger")
    #end

    <label for="userName" class="$!_errorClass">#message("authenticator.username-password-authenticator.authenticate.view.username")</label>
    <input type="text" id="userName" name="userName" class="block full-width mb1 field-light $!_errorClass" autocapitalize="none"
           value="$!userNameValue">

    <label for="password">#message("authenticator.username-password-authenticator.authenticate.view.password")</label>
    <input type="password" name="password" autocomplete="current-password" class="block full-width mb1 field-light">

    <button type="submit" class="button button-fullwidth button-primary">#message(
        "authenticator.username-password-authenticator.authenticate.view.authenticate")</button>

    <div class="mt3 clearfix">
        <div class="sm-col-12 center py2">
            
            <a href="$_authUrl/forgot-password">#message(
                "${_templatePrefix}.view.forgot-password")</a> <br/>

            <a href="$_authUrl/forgot-account-id">#message(
                "${_templatePrefix}.view.forgot-account-id")</a>
            
        </div>
        #if ($_registrationEnabled)
            <div class="sm-col-12 center">
                <a href="$_registerUrl" class="mt2">
                    <i class="icon ion-android-person-add"></i>
                    #message("${_templatePrefix}.view.no-account")
                </a>
            </div>
        #end
    </div>

</form>
#end

#parse("layouts/default")
