#*
*  Copyright 2017 Curity AB
*
*  Licensed under the Apache License, Version 2.0 (the "License");
*  you may not use this file except in compliance with the License.
*  You may obtain a copy of the License at
*
*      http://www.apache.org/licenses/LICENSE-2.0
*
*  Unless required by applicable law or agreed to in writing, software
*  distributed under the License is distributed on an "AS IS" BASIS,
*  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
*  See the License for the specific language governing permissions and
*  limitations under the License.
*#

#define ($_body)
<h2>#message("authenticator.username-password-authenticator.authenticate.view.top-header")</h2>
<form method="post" action="$_authUrl">

    #if ($_errors)
        #set($_errorClass = "is-error is-error-danger")
    #end
    <label for="userName" class="$!_errorClass">#message("authenticator.username-password-authenticator.authenticate.view.username")</label>
    <input type="text" id="userName" name="userName" class="block full-width mb1 field-light $!_errorClass" autocapitalize="none"
           value="$!userNameValue">

    <label>#message("authenticator.username-password-authenticator.authenticate.view.password")</label>
    <input type="password" name="password" class="block full-width mb1 field-light">

    <button type="submit" class="button button-fullwidth button-primary">#message(
        "authenticator.username-password-authenticator.authenticate.view.authenticate")</button>

    <div class="mt3 clearfix">
        <div class="sm-col-12 center py2">
            <a href="$_authUrl/forgot-password">#message(
                "authenticator.username-password-authenticator.authenticate.view.forgot-password")</a> <br/>
            <a href="$_authUrl/forgot-account-id">#message(
                "authenticator.username-password-authenticator.authenticate.view.forgot-account-id")</a>
        </div>
        #if ($_registerUrl)
            <div class="sm-col-12 center">
                <a href="$_registerUrl" class="button button-light-grey button-fullwidth">#message(
                    "${_templatePrefix}.view.no-account")</a>
            </div>
        #end
    </div>

</form>
#end

#parse("layouts/default")
