#*
 * Copyright (C) 2022 Curity AB. All rights reserved.
 *
 * The contents of this file are the property of Curity AB.
 * You may not copy or use this file, in either source code
 * or executable form, except in compliance with terms
 * set by Curity AB.
 *
 * For further information, please contact Curity AB.
 *#

#*
 * This view is shown to the user when they are about to activate their account. It should collect
 * the password the user wants.
 *
 * For a full list of variables available in this template and their associated values, do the following:
 *
 * 1. Create a file called globals.vm in <installation-dir>/usr/share/templates/overrides/fragments
 *
 * 2. Add the following to this new file:
 *
 * <!--
 *    All variables:
 *    #foreach ($entry in $_context.entrySet())
 *        $entry.key => $!entry.value
 *    #end
 * -->
 *
 * 3. Request this template again and view the HTML source code. All variables and their values will be shown in an
 *    HTML comment at the top of the file.
 *
 * For more information about using the Velocity templating language, refer to
 * http://velocity.apache.org/engine/devel/user-guide.html.
 *#

## The title of this page can be overridden by setting the $title variable here to a resource string or the actual value
##set($title = "")

#define($_body)
<form method="post">
    <input type="hidden" name="_oq" value="$!oq"/>
    <h1 class="center">#message("authenticator.username-password-authenticator.account-activation.view.set-password.head")</h1>

    <div class="form-password-reveal-form password-group">
      <label for="password">#message("authenticator.username-password-authenticator.account-activation.view.newPassword")</label>
      <input class="block full-width mb1 field-light" type="password" name="password" autocomplete="new-password"/>
      <i class="form-password-reveal-form-icon"></i>
			<div class="progress progress-thin">
				<div class="progress-warning" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
			</div>
    </div>

    <div class="clearfix mxn1 mt2">
        <div class="sm-col md-col-12 px1">
            <button type="submit" class="button button-fullwidth button-primary">#message(
                "${_templatePrefix}.view.button")</button>
        </div>
    </div>
</form>

#end

#parse("layouts/default")
