    #if ($_rejection_details)
        #foreach ($entry in $_rejection_details)
            #set($_message = $entry.message)
            #if ($_message)
        <div class="alert alert-info px4 rejection-details">
            #if ($_message == "remaining-attempts.rejected.verification.credential")
                ## RemainingPasswordVerificationAttempts
                #message("${_templatePrefix}.${_message}") $entry.remainingAttempts
            #elseif ($_message == "locked-out.rejected.verification.credential")
                ## PasswordLockedOut
                #message("${_templatePrefix}.${_message}")
            #elseif ($_message == "invalid-password.rejected.update.credential")
                ## InvalidPassword
                #foreach ($reason in $entry.reasons)
                    #message("${_templatePrefix}.credential.invalid-password.reason.${reason}")<br/>
                #end
            #else
                ## No special handling for this type, show a simple message
                #message("${_templatePrefix}.$_message")
            #end
        </div>
            #end
        #end
    #end
